@import "bootstrap-sprockets";
@import "bootstrap";
html{
overflow-y:scroll;
}


body{
background-size:100% auto;
background-image: url("1.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  background-size: cover;
padding-top:80px;
padding-bottom:80px;
}
.overlay-form
{top:0;
  height:100%;
   width:100%;
 align:center;
 left:0;
 right:0;
 bottom:100px;
 background-color: rgba(0,0,0,0.15);
 z-index:1;
 border-top-right-radius:130px;
 border-bottom-right-radius:130px;
}
.overlay-table
{background-color:rgba(0,0,0,0.85);
 color:white;
 padding:10px;
 
}
.center
{width:40px; 
 position:relative;
 margin-right:auto;
  margin-left:auto;
}
.alert
{color: red;
}

.notice {
  color: green;
}

.footer{
    height: 50%; 
    width:100%;
    position: relative;
    left: 0;
    bottom: 0; 
}
